body{
    font-family: "Roboto", sans-serif;  
    background: #F5F5F5;
}

nav{
    background: #424242;
    height: 80px;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 0 50px 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

nav ul li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    
}

a.active{
    color: #229799;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 10px;
}

#logo{
    width: 90px;
    margin: 0 0 -12px -345px;
}

.burger-button{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1100px){
    .burger-button{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        background-color: rgba(56, 56, 56, 0.644);
        height: 100vh;
        text-align: center;
        top: 60px;
        left: 120%;
        transition: all 1s;
    }

    nav ul li{
        display: block;
        padding: 30px 0;
    }

    nav ul li{
        font-size: 25px;
        color: white;
        text-transform: uppercase;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .welcome{
        font-size: 50px;
        font-weight: bold;
    }
}