.design-content{
    width: 50%;
    text-align: left;
    margin-left: 375px;
    
    
}

.goals{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
}

.ux{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
    
    
}

.ux-image{
    width: 30rem;
}

.wireframe{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.wire-image{
    width: 20rem;
}



.style-guide{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.palette-one{
    width: 16rem;
}

.colour-one{
    width: 30rem;
}

.palette-image{
    width:18rem;
}

.colour-image{
    width:25rem;
}

.font-image{
    width: 25rem;
}

.button-image{
    width: 20rem;
}

.reference-image{
    width: 30rem;
}
.elements{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.references{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

@media (max-width: 1050px){
    .design-content{
        font-size: 20px;
        margin-top: 10%;
        margin-left: 0%;
        padding: 6%;
        width: auto;
        
    }

    .ux-image{
    width: 100%;

    }

    .palette-one{
    width: 50%;
    }

    .colour-one{
    width: 70%;
    }

    .palette-image{
    width: 50%;
    }

    .colour-image{
    width: 70%;
    }

    .font-image{
    width: 70%;
    }

    .button-image{
    width: 70%;
    }

    .reference-image{
        width: 100%;
    }

}