
.design-content{
    width: 50%;
    text-align: left;
    margin-left: 375px;
    color: var(--text-color);
    
}



.toc-container{
    position: fixed;
    top: 80px;
    left: 0;
    padding: 10px;
    background-color: #000000cc;
    border-right: 1px solid #000000;
    width: 200px;
    height: calc(100% - 100px);
    overflow-y: auto;
    z-index: 100;
}

.toc-container li{
    margin: 0;
}

.toc-container ul{
    list-style: none;
    padding-left: 0;
}

.toc-container a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 20px;   
}

.toc-container a:hover{
    text-decoration: underline;
    color: #229799;
}
/* .toc-container a.active{
    background-color: #48C8CB;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
} */

.goals{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
}

.ux{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
    
    
}

.ux-image{
    width: 30rem;
}

.wireframe{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.wire-image{
    width: 20rem;
}



.style-guide{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.palette-one{
    width: 16rem;
}

.colour-one{
    width: 30rem;
}

.palette-image{
    width:18rem;
}

.colour-image{
    width:25rem;
}

.font-image{
    width: 25rem;
}

.button-image{
    width: 20rem;
}

.reference-image{
    width: 30rem;
}

.inbetween-text{
    text-align: left;
}
.elements{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
}

.references{
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 6%;
    text-align: center;
}

@media (max-width: 1050px){
    .toc-container{
        position: static;
        width: 90%;
        height: auto;
        text-align: center;
        margin-left: 2.5%;
    }
    
    .top-headings{
        font-size: 3.2rem;
    }

    .design-content{
        font-size: 20px;
        margin-top: 10%;
        margin-left: 0%;
        padding: 6%;
        width: auto;
        
    }

    .ux-image{
    width: 100%;

    }

    .wire-image{
        width: 80%;
    }

    .palette-one{
    width: 50%;
    }

    .colour-one{
    width: 70%;
    }

    .palette-image{
    width: 50%;
    }

    .colour-image{
    width: 70%;
    }

    .font-image{
    width: 70%;
    }

    .button-image{
    width: 70%;
    }

    .reference-image{
        width: 100%;
    }

}