h2{
    text-align: center;
    font-family: "Kanit";
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: #000000;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px 20px;
    border-radius: 10px;
}

.whole-port{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.port-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    margin: 40px 20px;
    border-radius: 20px;
}


.game-asset{
    box-shadow: 0 0 20px #229799b6;
    
}

.asset{
    width: 20rem;
    
}

.game-asset:hover{
    box-shadow: 0 0 20px #229799;
    background-color: #00000052;
}

@media (max-width: 1050px){
     .port-container{
        flex-direction: column;
        align-items: center;
        margin: 20px 10px;
        
    } 
     .asset{
        width: 100%;
        
       
     }
    
    h2{
        margin-left: 25%;
        margin-right: 25%;
        font-size: 24px;
        padding: 8px;
    }
}